@{
    ViewBag.Title = "Home Page";
}
<!-- HOME -->
<div class="" id="popupContainer">
    <div class="breadcrumbs text-muted">

        <div class="adminAcc">
            <a class="" href="" data-ng-click="vm.adminAccount($event)" data-ng-if="!vm.editmode">
                <i class="fa fa-cog"></i>
            </a>
        </div>
    </div>

    <div class="" ng-if="!vm.content.length && !vm.busy">
        <div class="col-lg-9">
            <div>
                <h1 class="no-margin-bottom">Welcome to Cars Online</h1>
                <hr />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius eleifend orci sit amet volutpat.
                    Cras posuere elementum nisi id placerat. In aliquet, risus et molestie pulvinar, tortor velit molestie ipsum,
                    eget imperdiet justo libero eget velit. Morbi aliquet ante ligula, ac cursus arcu dictum eu.

                </p>
                <p>
                    Proin pharetra nisl quis varius luctus. Sed eleifend rutrum nunc ut ullamcorper. Aenean sed auctor mauris,
                    nec scelerisque enim. Nunc nec erat facilisis, finibus risus in, iaculis dolor. Vestibulum et elit molestie,
                    finibus erat et, hendrerit leo. In ac ligula sit amet nisi imperdiet mattis.
                </p>
            </div>
            <div>
                <h1 class="no-margin-bottom">Announcement !!!</h1>
                <hr />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius eleifend orci sit amet volutpat.
                    Cras posuere elementum nisi id placerat. In aliquet, risus et molestie pulvinar, tortor velit molestie ipsum,
                    eget imperdiet justo libero eget velit. Morbi aliquet ante ligula, ac cursus arcu dictum eu.

                </p>
                <p>
                    Proin pharetra nisl quis varius luctus. Sed eleifend rutrum nunc ut ullamcorper. Aenean sed auctor mauris,
                    nec scelerisque enim. Nunc nec erat facilisis, finibus risus in, iaculis dolor. Vestibulum et elit molestie,
                    finibus erat et, hendrerit leo. In ac ligula sit amet nisi imperdiet mattis.
                </p>
            </div>
        </div>

        <div class="col-lg-3">
            <br />
            <div class="" style="">
                <div class="boxTitle">
                    Mission
                </div>
                <p style="padding: 0 10px">
                    Proin pharetra nisl quis varius luctus. Sed eleifend rutrum nunc ut ullamcorper.
                </p>
                <p style="padding: 0 10px">
                    Aenean sed auctor mauris, nec scelerisque enim. Nunc nec erat facilisis, finibus risus in, iaculis dolor.
                </p>

            </div>

            <div class="" style="">
                <div class="boxTitle">
                    Vision
                </div>
                <p style="padding: 0 10px">
                    Proin pharetra nisl quis varius luctus. Sed eleifend rutrum nunc ut ullamcorper.
                </p>
                <p style="padding: 0 10px">
                    Aenean sed auctor mauris, nec scelerisque enim. Nunc nec erat facilisis, finibus risus in, iaculis dolor.
                </p>
            </div>
        </div>
    </div>

    <div ta-bind ng-model="vm.content" class="word-break"></div>

</div>